.container{
max-width:500px;
}

.form-control{
background:#222;
border:none;
color:white;
}

.form-control:focus{
background:#2b2b2b;
color:white;
box-shadow:none;
}

.btn{
border-radius:15px;
}

img{
max-width:100%;
}

.card-gamer{
transition:.3s;
}

.card-gamer:hover{
transform:translateY(-3px);
}